.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ........................................................................ */
/* ........................................................................ ....................................*/
.bodyNav{
  background-color:#063c4d;
  
}
.secPart{
  background-color:#063c4d;
  
  
}

.upper{
  margin-left:75%;
  
}
.upperPart{
  color:white
}


.myFirstNav{
  background-color: #063c4d;
  color:white
}

.demo{
  background-color:#FFC740;
  color:black;
  border-radius:20px;
  font-size: 16px;
  padding: 12px;
  width:140px;
  border: none;

}
.sdn{
  background-color: #042d3a;
  color:white;
}


/* ....................................dropdown............................. */
#co{
  color:white;
}
#col{
  color:white;
}
#coll{
  color:white;
}

.img1{
  position: absolute;

  height:70%;
  width:332px


}

.img2{
  position: static;
  margin-left:20%;
  height:80%;
  width:660px;
  
}
.cont{
  display:flex;

}

.pros{
  margin-left:8%;
  position: absolute;
    margin-top:10%;

}
.pros2{
  position: static;
  
}

.clan{
  width:100px;
  margin-left:50px;
  margin-right:40px;
}

.clans{
  width:100px;
  margin-left:50px;
  margin-right:40px;
}

#mb{
border-radius: 50px;
  width:440px;
  padding:10px;
  margin-left:100px;
  /* border:5px solid red; */
  background-color:white;

}
.div1flexg{
  justify-content:space-around;
}


.div1g{
  height:450px;
  width:40%;
  /* border:1px solid red; */

}
.div2g{
  height:500px;
  width:50%;
  /* border:1px solid rgb(0, 255, 42); */


}
/* ,.,,,,,,,,,,,,,,,,,,,,,/.,mmmmmmmmmmmmmmmmmmmmm.................. */


.div1g>button{
  background-color: #FFC740;
  border-radius: 20px;
  color:black;
  border:none;
}





